.intro {
    height: 100%;
    width: 100%;
    padding: 2em 3em;
    margin-top: 8em; 
    color: #fff;
    background-color: rgba(0,0,0,.5);
}

.intro h2 {
    font-size: 200%;
    color: #fff;
}

.intro p {
    font-size: 125%;
}

.more {
    display: flex;
    flex-flow: row wrap;
    
    padding: 1.5em;
}

.message, .form {

}

.address {
    background-color: lightgrey;
    padding: 1.2em;
    width: 25em;
}