/* This alternate layout creates a lot of unnecessary elements.
The layout now contains an outer wrapper, inner wrapper, 
and main wrapper. That's all before getting to the background
image container. */

.introWrapper {
    z-index: inherit;
}

.intro {
    height: 100%;
    width: 100%;
    padding: 2em 3em;
    margin-top: 8em; 
    color: #fff;
    background-color: rgba(0,0,0,.5);
}

.intro h2 {
    font-size: 200%;
    color: #fff;
}

.intro p {
    font-size: 125%;
}