@media screen (min-width: 600px) {
    .issues {
        display: block;
    }
}

.priorities {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 2rem;
    background-color: #e8e8e8;
}

.priorities>* {
    flex: 1 1 400px;
    min-width: 400px;
}

.priorities>div {
    padding-bottom: 1.5rem;
    
}

.priorities div+div {
    padding-left: 1rem;
}

.priorities h1 {
    margin-top: 0 !important;
}

.issues {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}


.issues .border {
    border-bottom: 2px solid rgb(226, 45, 149);
}

