.priorities {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    min-width: 200px; 
    padding: 2rem;
    background-color: #e8e8e8;

}

.priorities>* {
    flex: 1 1 0;
}

.priorities>div {
    padding-bottom: 1.5rem;
    
}

.priorities div+div {
    padding-left: 1rem;
}

.priorities h1 {
    margin-top: 0 !important;
}

.issues {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}


.issues .border {
    border-bottom: 2px solid rgb(226, 45, 149);
}

@media screen and (max-width: 600px) {
    .issues {
        display: block;
    }
    .issues div {
        border-bottom: 2px solid rgb(226, 45, 149);
    }
    .issues div:last-child {
        border: none;
    }
}

@media screen and (max-width: 400px) {
    .fight {
        display: none;
    }
}

