.footer {
    /* The parent container is innerWrapper and it is
    set to display flex. mainWrapper is footer's 
    sibling. It's set to flex: 1 0 auto */
    flex: 0 0 auto;
    padding: 1rem;

    background: #000;
    color: white;
}

.footer h2 {
    color: #fff;
}

.copyright {

    padding-top: 2em;

    text-align: center;
}



