.header {
    display: flex;
    justify-content: space-between;
    background: #0080b2;
    
    margin-bottom: 1.45rem;
    padding: 1.5rem;
    padding-top: 0;
}

.titleLink, .titleLink:hover, .titleLink:active {
    border: none;
}

.logo {
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    padding: 1rem;
    height: 2rem;
}

a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    margin: 0 1rem;

}

a:visited {}

a:hover {
    border-bottom: 3px solid white;
}

a:active{
    border-bottom-color: #1190b7;
}