.header {
    display: flex;
    justify-content: space-between;
    background: #0080b2;
    
    margin: 0;
    padding: 0;
    border-top: 1rem solid #1190b7;
    border-bottom: 1rem solid #1190b7;
}

.titleLink, .titleLink:hover, .titleLink:active {
    border: none;
    margin: 0;
    padding: 0;
}

.logo, .logo h1, .logo h1 img {
    margin: 0 !important;
    padding: 0 !important;
}

.nav, .nav div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-start;

    padding: 1rem;
    height: 4rem;
}

.nav div+div {
    height: 6rem;
    padding-left: 0;
}

a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    margin: 0 1rem;

}

a:visited {}

a:hover {
    border-bottom: 3px solid white;
}

a[aria-current="page"] {
    border-bottom: 7px solid white;
}

a.donate {
    display: inline-block;
    border: 3px solid #fff;
    color: #fff;
    background: rgb(226, 45, 149);
    transition: all 0.3s;

    padding: 1rem;
}

a.donate:hover, a.donate:active {
    color: rgba(226, 45, 149, 1);
    background: #fff;
}


    
