.header {
    display: flex;
    justify-content: space-between;
    background: #0080b2;
    
    margin: 0;
    padding: 0;
    border-top: 1rem solid #1190b7;
    border-bottom: 1rem solid #1190b7;
}

.titleLink, .titleLink:hover, .titleLink:active {
    border: none;
    margin: 0;
    padding: 0;
}

.logo, .logo h1, .logo h1 img {
    margin: 0 !important;
    padding: 0 !important;
    /* will shrink to min-width if this is not set */
    width: 100%;
}

@media screen and (max-width: 1050px){
    .header {
        flex-wrap: wrap;
    }
}