.wrapper {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}

.innerwrapper {
    flex: 1;
    padding: 2rem;
    width: calc(100vw - (4vw + 2rem));
}

.footer {
    flex-shrink: 0;
    padding: 2rem;
}