.wrapper {
    background-color: #1190b7;
}

.innerWrapper {
    flex: 1;
    max-width: 1100px;
    background-color: #fff;
    margin: 0 auto;
}

.mainWrapper {
    flex: 1;
    padding: 1.5rem;
    padding-top: 2rem;
}

.hidden {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

@media screen and (max-width: 500px) {
    .bannerImage {
        display: none;
    }
}