.nav, .menuWrapper, .donateWrapper {
    z-index: 1;
}

.menuWrapper {
    z-index: 1;
}

.donateWrapper {
    z-index: 1;
}

.link {
    z-index: 1;
}

.link:hover {
    z-index: 1;
}

.active {
    z-index: 1;
}

.donate {
    z-index: 1;
}

.donate:hover, .donate:active {
    z-index: 1;
}


