.wrapper {
    padding: 1em;
    min-width: 300px;
    max-width: 50%;
}

.wrapper .formTitle {

    margin-top: 1em;
    
    text-align: center;
    font-size: 180%;

}

.wrapper form section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;


    padding: 1em;
}

.address {
    padding: 0;
    margin: 0;
}

.wrapper p {
    margin-right: 1em;
}

.telWrapper {
    padding-bottom: 1em;
    margin-right: 1em;
}

.telWrapper p {
    display: inline;
    margin: 0;
}

p.hidden {
    display:none !important;
}

p.warning {
    display: block;
    color: red !important;
}

.wv p {
    margin-bottom: 0;
}

/* send button */
.sendBtn {
    display: block !important;

    padding: .5em !important;
    border: 3px solid #e22e96;
    margin: .5em auto !important;
    
    color: #e22e96;
    transition: all 0.3;
}

.sendBtn:hover, .sendBtn:active {
    color: #fff;
    background: #e22e96;
}

.btn {
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

@media screen and (max-width: 680px) {
    .wrapper {
        max-width: 100% !important;
    }
}

